.input-div {
  position: relative;
  height: auto;
  width: 100%;
  zoom: 1;
  display: flex;
}
.input-form {
  display: flex;
  width: 100%;
}
.input-field {
  width: 65%;
  padding: 12px;
  font-size: 12px;
  border-radius: var(--border-radius);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 4px rgba(0, 0, 0, 0.2);
  border: 1px solid transparent;
}
.input-field :focus {
  outline: none;
  border: 1px solid var(--light-grey-hover);
}
.input-search {
  border-radius: var(--border-radius);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 4px rgba(0, 0, 0, 0.2);
  color: var(--white);
  background-color: var(--theme-blue);
  border: none;
  cursor: pointer;
}
.input-search:hover {
  background-color: var(--theme-blue-hover);
}
