html {
  box-sizing: border-box;
  overflow-y: scroll;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  color: var(--dark);
  font-size: var(--font-size);
  font-family: Verdana, Arial, sans-serif;
}
h1,
h2,
h3 {
  margin: 0;
}
